<h1>Inline vanilla ES6 with ERB</h1>
<h4>File: inline_vanilla_es6.html.erb</h4>
<div id="inline-es6"></div>

<script>
  <%= es6_transform do %>
    let interval,
        i= 0,
        element= document.getElementById("inline-es6");

    element.innerHTML= "Fibonacci sequence: "
    startFibonacci();
    console.log("Inline vanilla ES6 ready")

    function startFibonacci(limit=10){
      interval= setInterval(() => {
        element.innerHTML+= fibonacci(i++) + ", ";
        if (i>10) {stopFibonacci()};
      }, 1000);
    }

    function stopFibonacci(){
      clearInterval(interval);
      element.innerHTML+= " ...";
    }

    function fibonacci(n=0) {
       return n>1 ? fibonacci(n-1)+fibonacci(n-2) : n;
    }
  <% end %>
</script>
