<h1>Inline ES6 with ERB</h1>
<div id="inline-es6"></div>

<script>
  <%= es6_transform do %>
    let interval,
        i= 0,
        element=document.getElementById("inline-es6");

    element.innerHTML= "Fibonacci sequence: "
    startFibonacci();

    function startFibonacci(limit=10){
      interval= setInterval(() => {
        element.innerHTML+= fibonacci(i++) + ", ";
        if (i>10) {stopFibonacci()};
      }, 1000);
    }

    function stopFibonacci(){
      clearInterval(interval);
      element.innerHTML+= " ...";
    }

    function fibonacci(n=0) {
      if (n===0) return 0;
      if (n===1) return 1;
      return fibonacci(n-1)+fibonacci(n-2);
    }
  <% end %>
</script>
